<div class = "form-group shiny-input-container">

    <div class = "row">
        <div class = "col-sm-10">
            <label>{{valueLabel}}</label>
        </div>
        <div class = "col-sm-2">
            <label>Remove</label>
        </div>
    </div>

    {{#each values}}
    <div class = "row vector-input-row">
        <div class = "col-sm-10">
            <input id = "value-{{../id}}-{{@index}}" type = "{{../type}}" class = "form-control vector-input-value" value = "{{value}}" />
        </div>
        <div class = "col-sm-2">
            <button id = "del-{{../id}}-{{@index}}" type = "button" class = "btn btn-link vector-input-button" style = "padding-right: 0px;">x</button>
        </div>
    </div>
    {{/each}}

    <div class = "row">
        <div class = "col-sm-12">
            <button id = "add-{{id}}" type = "button" class = "btn btn-link vector-input-button" style = "padding-left: 0px;">New</button>
        </div>
    </div>

</div>
